.searchInputWrapper {
  > input {
    border: none;
    width: 349px;
    height: 40px;
    padding: 0 16px;
    font-size: 100%;
    background-color: transparent;
  }
}

.logoIcon {
  display: flex;
  align-items: center;
}

.cafeButton {
  padding: 0 8px;
}
